{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container">
<div class='row'>
<div class='col-sm-4 col-sm-offset-4'>
<h1>Login To Your Account</h1>
    <br>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|crispy }}
<br>
    <p>New User ?? <a href="{% url 'registration_register' %}">SignUp..</a><a class="pull-right" href="{% url 'auth_password_reset' %}">Forgot Password ??</a><p>
    <hr>
  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Login' %}" />
</form>
</div>
</div>
</div>
{% endblock %}